#wrapper
{
  width:920px;  
  text-align:center;
    
}

#body{
    font-family:Arial, sans-serif;
    
}

#header{
    margin: auto;
    width: 50%;
}    

#about_me{
    float:left;
    width:45%;
}
#background{
    float:right;
    width:45%;
}
#table{
    margin:auto;
    text-align:center;
    font-weight:bold;
    color:red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}
li {
    display:inline;
}